/* add home page styles here */


body {
    border: #f36868 3px solid;
    padding-left: 10%;
    padding-right: 10%;
    /* padding-bottom: 10%; */
}

main {
    height: 40vw;
    display: flex;
    
    border: blue 3px solid;
    
}

.leftside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: black 3px solid;
    justify-content: space-around;
    align-items: center;
}
.rightside {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border: black 3px solid;
    justify-content: flex-start;
    align-items: center;
}

#heroIMG {
    height: 200px;
    width: 200px;
    border: black 3px solid;
}

.goblins {
    display: flex;
    flex-direction: column;
    height: 15%;
    justify-content: flex-start;
}

.goblin {
    /* margin-top: 10%; */
    display: flex;
    background-color: cadetblue;
    border: black 3px solid;
    width: 150%;
    height: 100%;
    align-content: stretch;
    text-align: center;
    justify-content: space-evenly;
}

h1{
    text-align: center;
}


form {
    margin-top: 10%;
    margin-bottom: 10%;
}